
  
  .mySwiper2 {
    height: 100%;
    width: 95%;
    border-radius: 15px;
  }
  
  .mySwiper {
    @apply w-[95%] h-[5%] box-border p-[10px_0]; /* Default for mobile */
  }
  
  @media (min-width: 768px) {
    .mySwiper {
      @apply w-[90%] h-[6%]; /* For tablets */
    }
  }
  
  @media (min-width: 1024px) {
    .mySwiper {
      @apply w-[95%] h-[8%]; /* For desktop screens */
    }
  }
  
  .mySwiper .swiper-slide img {
    display: block;
    width: 100%;
    height: 15vh;
    object-fit: cover;
  }


  
/* styles.css */
.mySwiper .swiper-slide {
  opacity: 0.7;
  transition: opacity 0.3s;
  cursor: pointer;
  width: 50vw;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
  border: 2px solid #000;
  border-radius: 12px;
}

  
  
  
  
  .swiper-button-next,
  .swiper-button-prev {
    border-radius: 200px;
    background: rgb(216, 210, 210);
    color: black;
    font-weight: bold;
    height: 40px;
    width: 40px;
  }
  
  .mySwiper2 .swiper-button-next,
  .mySwiper2 .swiper-button-prev {
    color: black;
    font-weight: bold;
  }
  
  .mySwiper2 .swiper-button-next:after,
  .mySwiper2 .swiper-button-prev:after {
    font-size: 17px;
    color: black;
    font-weight: bold;
  }
  
  .mySwiper2 .swiper-slide img {
    display: block;
    width: 100%;
    height: 65vh;
    object-fit: cover;
  }